<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
    <nav><a href="{% url 'post_new' %}">+ New Blog Post</a></nav>
    <h1><a href="{% url 'home' %}">Blog</a></h1>
    {% if user.is_authenticated %}
        <p> Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Logout!</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Log In</a></p>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content%}
    </div>
</body>
</html>